.center {
    margin: auto;
    width: 50%;
}

.navbar{
    margin-bottom:20px;
}

.custom-toggle {
    color: white;
    width: 100px;
}
.react-toggle{
    width: 100px;
    font-size: x-large;
    text-align: center;
}


.react-toggle-track{
    width: 100px;
    height: 40px;
    
}

.react-toggle-track-x{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: auto;
}

.react-toggle-track-check{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: auto;
}

.react-toggle-thumb{
    width: 35px;
    height: 35px;
    top:3px;
}

.react-toggle--unchecked .react-toggle-thumb{
    left: 0px;
}

.react-toggle--checked .react-toggle-thumb{
    left: 65px;
}

.customTab{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.nav-tabs{
    text-decoration: none;
    border-radius: 0px!important;
    color: rgba(255,255,255,0.5);
    background-color: rgba(33,37,41,1);
}

.nav-tabs:active {
    background-color: rgba(33,37,41,1);
    border-color: rgba(33,37,41,1);
}

.nav-tabs:hover {
    border-color: rgba(33,37,41,0.9);
    border-radius: 20px!important;
}

.tab-content{
    width: 100%;
}

a{
    text-decoration: none!important;
    color: none!important;
    font-size:large;
}

.react-toggle--checked .react-toggle-track {
    background-color: #395cb3;
    
}

.react-toggle--checked > *:not(.react-toggle-thumb) {
    background-color: #395cb3 !important   
}